.votes {
    text-align: center;
    line-height: 0px;
}

.upvote {
    border-radius: 4px;
    width: 25px;
    border: thin solid #6699ff;
    background-color: #3377ff;
    font-family: "Helvetica";
    color: #f2f2f2;
}

.upvote:hover {
    border: thin solid #5cd65c;
    background-color: #33cc33;
    color: #f2f2f2;
    cursor: pointer;
}

.downvote {
    border-radius: 4px;
    width: 25px;
    border: thin solid #6699ff;
    background-color: #3377ff;
    font-family: "Helvetica";
    color: #f2f2f2;
}

.downvote:hover {
    border: thin solid #ff6666;
    background-color: #ff3333;
    color: #f2f2f2;
    cursor: pointer;
}

.thread_preview, .thread_full, .comment {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #cce5ff;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
}

.thread_preview tr:nth-child(odd), .thread_full tr:nth-child(odd), .comment tr:nth-child(odd) {
    background-color: #cce5ff;
}

.thread_preview tr:nth-child(even), .thread_full tr:nth-child(even), .comment tr:nth-child(even) {
    background-color: #e5f2ff;
}

h1, .subtitle {
    font-family: Helvetica, Arial, sans-serif;
}

.madeit {
    color: black;
    text-decoration: none;
}

.meta {
    font-size:smaller;
}

/*table {*/
/*    border-collapse: collapse;*/
/*}*/

/*table, th, td {*/
/*    border: 1px solid black;*/
/*}*/