{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'madeit/style.css' %}" />

<h1><a class="madeit" href="{% url 'madeit:index' %}">MadeIt</a></h1>

<table class="thread_full">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <button class="upvote" type="button>">^</button>
                    </td>
                </tr>
                <tr>
                    <td class="votes">{{ thread.votes }}</td>
                </tr>
                <tr>
                    <td>
                        <button class="downvote" type="button>">v</button>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        <h2>{{ thread.thread_title }}</h2></td>
                </tr>
                <tr>
                    <td>
                        <p>{{ thread.thread_text }}</p>
                        <p class="meta">{{ thread.pub_date }}<</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<br>
<p class="subtitle">Comments:</p>

{% if thread.comment_set.all %}

<table>
    <tr>
        <td style="width: 25px"></td>
        <td>
            <table class="comment">
                {% for comment in thread.comment_set.all %}
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <button class="upvote" type="button>">^</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="votes">{{ comment.votes }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="downvote" type="button>">v</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <p>{{ comment.comment_text }}</p>
                        <p class="meta">{{ comment.pub_date }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

{% else %}
<p>There doesn't appear to be any comments here.</p>
{% endif %}