{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'madeit/style.css' %}" />

<h1><a class="madeit" href="{% url 'madeit:index' %}">MadeIt</a></h1>

<table class="thread_full">
    <tr>
        <td>
            <div class="votes">
                <p><button class="upvote" type="button>">^</button></p>
                <p>{{ thread.votes }}</p>
                <p><button class="downvote" type="button>">v</button></p>
            </div>
        </td>
        <td>
            <h2>{{ thread.thread_title }}</h2>
            <p>{{ thread.thread_text }}</p>
            <p class="meta">posted by {{ thread.user }} at {{ thread.pub_date }}</p>
        </td>
    </tr>
</table>


<br>
<p class="subtitle">Comments:</p>

{% if thread.comment_set.all %}


<table class="comment">
    {% for comment in thread.comment_set.all %}
    <tr>
        <td>
            <div class="votes">
                <p><button class="upvote" type="button>">^</button></p>
                <p>{{ comment.votes }}</p>
                <p><button class="downvote" type="button>">v</button></p>
            </div>
        </td>
        <td>
            <p>{{ comment.comment_text }}</p>
            <p class="meta">posted by {{ thread.user }} at {{ comment.pub_date }}</p>
        </td>
    </tr>
    {% endfor %}
</table>


{% else %}
<p>There doesn't appear to be any comments here.</p>
{% endif %}